<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Trip</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_trip.css' %}"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  
  <nav class="d-flex justify-content-around navbar navbar-expand-lg" id="nav">
    <div>
      <p class="navbar-brand">Welcome <a href="/account">{{my_user.first_name}}!</a></p>
    </div>
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="orange" class="nav-link" href="/wall">Home</a>
        </li>
        <li class="nav-item">
          <a id="orange" class="nav-link" href="/make_trip">Add Trip</a>
        </li>
        <li class="nav-item">
          <a id="orange" class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a id="orange" class="nav-link btn btn-outline-danger " href="/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <body>
    <div class="testbox">
      <form action="/trip_process" method="POST">
        {% csrf_token %}
        <div class="banner">
        </div>
        <h2>Add Trip</h2>
        <div class="col">
          {% if messages %}
          <p style="color: red;">Massages of validation</p>
          <ul class="messages">
            {% for message in messages %}
            <li style="color: red;" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="item">
          <label for="phone_number">Phone Number<span>*</span></label>
          <input id="phone_number" type="text" name="phone-num" required/>
        </div>
        <div class="item">
          <label for="car">Car<span>*</span></label>
          <input id="car" type="text" name="car-name" required/>
        </div>
        <div class="item">
          <label for="num_seates">Number of Seates<span>*</span></label>
          <input id="num_seates" type="text" name="seats-num" required/>
        </div>
        <div class="item">
          <label for="bdate">When<span>*</span></label>
          <input id="bdate" type="datetime-local" name="date_from" required/>
          <i class="fas fa-calendar-alt"></i>
        </div>
          <div class="item">
            <label for="city-from">From</label>
            <select name="city-from">
              <option value="Ramallah">Ramallah</option>
              <option value="Nablus">Nablus</option>
              <option value="Jenin">Jenin</option>
              <option value="Tulkaram">Tulkaram</option>
              <option value="Jericho">Jericho</option>
              <option value="Hebron">Hebron</option>
              <option value="Gaza">Gaza</option>
              <option value="Bethlehem">Bethlehem</option>
            </select>
          </div>
          <div class="item">
            <label for="city-to">To</label>
            <select name="city-to">
              <option value="Ramallah">Ramallah</option>
              <option value="Nablus">Nablus</option>
              <option value="Jenin">Jenin</option>
              <option value="Tulkaram">Tulkaram</option>
              <option value="Jericho">Jericho</option>
              <option value="Hebron">Hebron</option>
              <option value="Gaza">Gaza</option>
              <option value="Bethlehem">Bethlehem</option>
            </select>
          </div>
          <div class="item">
            <label for="desc">Description</label>
            <textarea name="desc" id="desc" cols="30" rows="5"></textarea>
          </div>
          </div>
          <div class="btn-block">
            <button type="submit">Add Trip</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</body>
</html>