<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<title>Registration</title>
	{% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> 
</head>

<body>
	<div class="container">
		<div class="form sign-in-container">
			<form action="#">
				<h1>Sign up</h1>
                <input type="first_name" placeholder="First name">
                <input type="lastt_name" placeholder="Last name">
				<input type="email" placeholder="User Email">
				<input type="password" placeholder="Password">
				<input type="conf-pw" placeholder="Confirm Password">
				<button>Sign Up</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1>Sign IN</h1>
					<p>Sign in here if you have account.</p>
					<button class="signup_btn">Sign In</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>