<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/registration.css'%}">
    <title>Registration</title>
</head>

<body>
    <div class="row justify-content-center " id="main-container">
        
        <form method="post">
            {% csrf_token %}
            <div class="row-2 d-flex justify-content-center h-100 ">
                <div class="col card">
                    <h2 class="fw-bold mb-4">Register</h2>
                    <div class="row align-items-center pt-2 pb-3">
                        <div class="col ps-5">
                            <h6 class="mb-0">First name</h6>
                        </div>
                        <div class="col-md-6 pe-5">
                            <input type="text" name="first_name" class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">
                        <div class="col ps-5">
                            <h6 class="mb-0">Last name</h6>
                        </div>
                        <div class="col-md-6 pe-5">
                            <input type="text" name="last_name" class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="row align-items-center pt-4 pb-3">
                        <div class="col ps-5">
                            <h6 class="mb-0"> Email</h6>
                        </div>
                        <div class="col-md-6 pe-5">
                            <input type="Email" name='email' class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="row align-items-start pt-4 pb-3">
                        <div class="col ps-5">
                            <h6 class="mb-0">Password</h6>
                        </div>
                        <div class="col-md-6 pe-5">
                            <input type="password" id="pw2" name="pw2" class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="row align-items-start pt-4 pb-3">
                        <div class="col ps-5">
                            <h6 class="mb-0">Confirm Password</h6>
                        </div>
                        <div class="col-md-6 pe-5">
                            <input type="password" id="pw1" name="pw1" class="form-control form-control-lg" />
                        </div>
                        <label name="message" id="message"></label>
                    </div>
                    <div class="px-5 py-4" id="register-button">
                        <button type="submit" name="register" value="reg"
                            class="btn btn-primary btn-lg">Register</button>
                    </div>
                </div>
        </form>