<!DOCTYPE html>
<html lang="en">

<head>
	<title>trips</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/details.css'%}" />
</head>

<body>
	<nav class="d-flex justify-content-between navbar navbar-expand-lg" id="nav">
		<div class="d-flex justify-content-between">
		  <img class="logo" src="{% static 'icons/mylogo.png' %}" />
		  <p class="navbar-brand">Welcome <a id="username" href="/account">{{my_user.first_name}}!</a></p>
		</div>
		<div>
		  <ul class="navbar-nav">
			<li class="nav-item">
			  <a id="orange" class="nav-link" href="/wall">Home</a>
			</li>
			<li class="nav-item">
			  <a id="orange" class="nav-link" href="/make_trip">Add Trip</a>
			</li>
			<li class="nav-item">
			  <a id="orange" class="nav-link" href="/about">About Us</a>
			</li>
			<li class="nav-item dropdown">
			  <a id="orange" class="nav-link btn btn-danger " href="/logout">Log Out</a>
			</li>
		  </ul>
		</div>
	  </nav>
	<div id="map"></div>
	<div class="container-fostrap">
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="card">
							<div class="card-content">
								{% if my_user.id != my_trip.driver.id %}
								<form action="/join_trip/{{my_trip.id}}" method="post">
									{% csrf_token %}

									<div class="my-details" >
										<div>
											<p><span>Driver:</span>{{my_trip.driver.first_name}} {{my_trip.driver.last_name}}</p>
											<p><span>From:</span>{{my_trip.from_where}}</p>
											<p><span>Car:</span>{{my_trip.car}}</p>
											<p><span>Number of Seates:</span>{{my_trip.seats_num}}</p>
											<p><span>Passengers:</span></p>
											<ul>
											{% for passanger in my_passangers %}
											<li>{{passanger.passanger.first_name}} {{passanger.passanger.last_name}}</li>
											{% endfor %}
										</ul>
										</div>
										<div>
											<p><span>Phone Number:</span>{{my_trip.phone_num}}</p>
											<p><span>To:</span>{{my_trip.to_where}}</p>
											<p><span>Trip Time:</span>{{my_trip.when}}</p>
											<p><span>Description:</span>{{my_trip.descreption}}</p>
											<button type="submit" id="update_btn" class="btn btn-primary">Apply for Trip</button>
										</div>
									</div>
								</form>
								{% else %}
								<form action="/update/{{my_trip.id}}" method="post">
									{% csrf_token %}
									<div class="form control">
										<div>
											<label class="form-label" for="driver"><span>Driver:</span></label>
											<h3>{{my_trip.driver.first_name}} {{my_trip.driver.last_name}}</h3>
										</div>
										<div>
											<label class="form-label" for="city-from"><span>From:</span></label>
											<select class="form-control" name="city-from">
												<option value="Ramallah">Ramallah</option>
												<option value="Nablus">Nablus</option>
												<option value="Jenin">Jenin</option>
												<option value="Tulkaram">Tulkaram</option>
												<option value="Jericho">Jericho</option>
												<option value="Hebron">Hebron</option>
												<option value="Gaza">Gaza</option>
												<option value="Bethlehem">Bethlehem</option>
											</select>
										</div>
										<div>
											<label class="form-label" for="number_seates"><span>Number ofSeates:</span></label>
											<input class="form-control" type="number" name="phone-num" id="phone_num" value="{{my_trip.seats_num}}">
										</div>
										<p><span>Passengers:</span></p>
										<ul>
											{% for passanger in my_passangers %}
											<li>{{passanger.passanger.first_name}} {{passanger.passanger.last_name}}</li>
											{% endfor %}
										</ul>
									</div>
									<div>
										<div>
											<label class="form-label" for="phone_num"><span>Phone Number:</span></label>
											<input class="form-control" type="number" name="phone-num" id="phone_num" value="{{my_trip.phone_num}}">
										</div>
										<div>
											<label class="form-label" for="city-to"><span>To:</span></label>
											<select class="form-control" name="city-to">
												<option value="Ramallah">Ramallah</option>
												<option value="Nablus">Nablus</option>
												<option value="Jenin">Jenin</option>
												<option value="Tulkaram">Tulkaram</option>
												<option value="Jericho">Jericho</option>
												<option value="Hebron">Hebron</option>
												<option value="Gaza">Gaza</option>
												<option value="Bethlehem">Bethlehem</option>
											</select>
										</div>
										<div>
											<label class="form-label" for="when"><span>Trip Time:</span></label>
											<input class="form-control" type="datetime-local" name="date_from" id="when" value="{{my_trip.when}}" required>
										</div>
										<div>
											<label class="form-label" for="desc"><span>Description:</span></label>
											<textarea class="form-control" name="desc" id="desc" cols="30"rows="5">{{my_trip.descreption}}</textarea>
										</div>
										<button type="submit" id="update_btn" class="btn btn-primary" name="update_trip">Update</button>
										<button type="button" class="btn btn-danger"><a style="color: white;" href="/delete_trip/{{my_trip.id}}">delete</a></button>
									</div>
								</form>
								{% endif %}
							</div>
							<div class="card-read-more">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_kzfLR8Z8Bxjqc6aHzTdjTcKWl6Ug_pw&callback=initMap&v=weekly"
		defer></script>

	<script src="{% static 'jscript/jscript.js'%}"></script>
	<script src="{% static 'jscript/navbar.js'%}"></script>
	<script type="module" src="{% static 'jscript/index.ts'%}"></script>


</body>

</html>