@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

.section{
	width: 100%;
}
.container{
	display: flex;
	width: 80%;
	margin:auto;
	padding-top: 80px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#468BE8;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#2d2c2c;
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}

#nav{
	/* background-image: linear-gradient(0deg,#c7e8eb,#dfd8f0); */
	background-color: #73ced4;
	box-shadow: 0 2px 5px 0 #baaeda,0 2px 7px 0 #baaeda; 
	transition: box-shadow .25s; 
	padding: 0px;
	height: 7%;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
  }
  
  #orange{
	color: white;
	font-weight: bold;
  }
  
  
  .logo{
	width: 100px;
	height: 50px;
	margin-top: 8px;
	margin-left: 5%;  
  }
  
  .navbar-brand{
	margin-left: 15%;
	margin-top: 10px;
  }
  
  .navbar-nav{
	margin-right: 30px;
  }

  #username{
	text-decoration: none;
	color: #468BE8;
	font-weight: 400;
    font-size: 18px;
  }


  .team h3{
    width: 30%;
    height: 5%;
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
	margin-top: 30px;
    background-color: #8ad0d5;
    color: white;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
  }

  .contact{
	position: relativ;
	bottom: 0;
	left: 0;
	right: 0;
	height: 90px;
	background-color: #DFDBEC;
	margin-top: 30px;
	text-align: center;
  }

  .names{
	margin-top: 20px;
	width: 80%;
	height: 150px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
  }

  .names div{
	flex: 1;
	margin-left: 10px;
	margin-top: 20px;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	background-color:white;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
  }

  .names p{
	margin-top: 40px;
  }

.social a{
	margin-left: 25px;
	margin-right: 25px;
}

.social p{
	font-size: 20px;
	font-family: cursive;
}