*{
    color:black;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box{
    display: flex;
    justify-content: center;
}
h5{
    justify-content: center;
}

.card text-bg-dark{
    width: 100px;
}
.button2{
  justify-content: center;
}
